/* vars ================================ */

/* Colors */

:root {
  --accent: #f88500;
  --accent-light: #ff8d09;
  --accent-dark: #f38506;
  --text: #333;
  --dark: #202328;
  --deep: #171a1a;
  --dark-header: #6f7a8b;
  --dark-div: #2d3038;
  --light-bg: #fafafa;
  --light-disabled: #e4e6e8;
  --light-div: #e7e7e8;
  --middle-gray: rgba(111, 122, 139, 0.75);
  --text-light: #999;

  /* Fonts */

  --regular-text: 16px;
  --small-text: 14px;
  --lineheight: 1.75;
  --userfont: raleway-wt, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

  /* Style */

  --radius: 5px;
  --radius-style: 0 5px;
  --transition: 0.25s ease-out;
}

/* Commons ================================ */
/* Fonts */

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-300.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-500.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-600.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-700.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-800.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-900.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/raleway/raleway-v22-cyrillic-regular.woff2") format("woff2");
  font-family: raleway-wt;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/roboto/roboto-v29-cyrillic-300.woff2") format("woff2");
  font-family: roboto-wt;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/roboto/roboto-v29-cyrillic-500.woff2") format("woff2");
  font-family: roboto-wt;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto/roboto-v29-cyrillic-700.woff2") format("woff2");
  font-family: roboto-wt;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Button */

.button {
  outline: none;
  border: none;
  background-color: var(--accent);
  color: #fff;
  border-radius: var(--radius-style);
  display: inline-block;
  padding: 10px 28px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  letter-spacing: .25px;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--accent-light);
}

.button:active {
  background-color: var(--accent-dark);
}

/* Navbar */

.navbar {
  position: absolute;
  top: 0;
  z-index: 5;
  color: #fff;
  padding: 43px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  left: 50px;
  right: 50px;
}

.logo {
  font-size: 17px;
  white-space: nowrap;
  line-height: 1.3;
}

.logo__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.logo__link:hover,
.logo__link:focus,
.logo__link:active {
  color: #fff;
}

.logo__link span {
  display: block;
  font-size: 12px;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 3.5px;
  opacity: 0.45;
  margin-left: 23px;
}

.logo__link i {
  width: 15px;
  height: 15px;
  position: relative;
  border: 2px solid var(--accent);
  display: inline-block;
  border-radius: var(--radius-style);
  margin-right: 7px;
}

.top-menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-menu__item {
  display: inline-block;
  margin-right: 10px;
}

.top-menu__item:last-child {
  margin-right: 0;
}

.top-menu__link {
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 7.5px 16px;
  border-radius: var(--radius-style);
  transition: var(--transition);
}

.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link {
  color: #fff;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: var(--radius-style);
}

.menu-container {
  position: relative;
}

.menu-toggle {
  width: 22px;
  height: 22px;
  background-image: url(../img/interface/menu-white.svg);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  top: 3px;
  display: none;
  right: 0;
}

.menu-toggle_active {
  background-image: url(../img/interface/x.svg);
}

.top-menu.top-menu_active {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.nav-social-wrap {
  text-align: right;
  padding: 4px 0;
}

.nav-social {
  background-color: rgba(196, 196, 196, .2);
  border-radius: 10em;
  display: inline-block;
  padding: 2px 12.5px 3px;
}

.nav-social__item {
  display: inline-block;
  margin: 0 2.5px;
}

.nav-social__item img {
  width: 100%;
  max-height: 16.5px;
  max-width: 20px;
  opacity: .75;
  transition: opacity var(--transition);
}

.nav-social__item:hover img {
  opacity: 1;

}

/* Slider */

.home-slider {
  position: relative;
  height: 100vh;
  min-height: 580px;
  max-height: 720px;
  color: #fff;
  background-color: var(--dark);
}

.home-slider__slide {
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.home-slider__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: .15;
}

.home-slider__slide::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 0 0 30px var(--dark);
  border-radius: var(--radius);
}

.home-slider__slide .container {
  z-index: 2;
  position: relative;
}

[data-animate] {
  opacity: 0;
  transition: all .8s ease-out;
}

[data-animate="bottom"] {
  transform: translate3d(0, 15px, 0);
}

.home-slider__slide.swiper-slide-active [data-animate] {
  opacity: 1;
  transform: none;
}

.home-slider__slide.swiper-slide-active .home-slider__heading {
  transition-delay: .6s;
}
.home-slider__slide.swiper-slide-active .home-slider__text {
  transition-delay: 1s;
}

.home-slider__heading {
  font-size: 58px;
  font-weight: 300;
  line-height: 0.8;
  margin-bottom: 35px;
  transition-delay: .3s;
}

.home-slider__heading span {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent);
  border-radius: var(--radius-style);
  padding: 6px 16px 7px;
}

.home-slider__text {
  max-width: 440px;
  font-size: var(--small-text);
  background-color: rgba(32, 35, 40, 0.9);
  padding: 15px 22px;
  border-radius: 0 calc(var(--radius) * 2);
}

.home-slider__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 440px;
  background-color: var(--dark);
  z-index: 1;
  right: 0;
  border-radius: var(--radius) 0 0 0;
  padding: 45px 40px 45px 15px;
  font-size: 12px;
  color: #59606c;
}

.home-slider__pagination-wrapper {
  position: relative;
}

.home-slider__pagination {
  font-family: roboto-wt, sans-serif;
  font-weight: 300;
  bottom: inherit;
  margin-top: -10px;
}

.home-slider__pagination span {
  width: 1px;
  height: 28px;
  background-color: #353941;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 8px 0;
}

.home-slider__pagination b {
  position: relative;
  font-size: 15px;
  color: #818b9d;
  font-weight: 300;
}

.home-slider__bottom, .swiper-scrollbar-drag {
  height: 5px;
}

.home-slider__nav {
  position: relative;
}

.home-slider__prev, .home-slider__next {
  outline: none;
}

.home-slider__prev::after, .home-slider__next::after {
  font-size: 14px;
  color: #818b9d;
}

/* Home callback */

.home-callback {
  background-color: var(--deep);
  padding: 50px 0;
  color: var(--dark-header);
  position: relative;
  z-index: 1;
}

.home-callback__header {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.home-callback__header::after {
  content: '';
  width: 30%;
  height: 1px;
  background-color: var(--dark-div);
  position: absolute;
  left: 0;
  bottom: -15px;
}

.home-callback__list {
  padding: 0;
  margin: 0;
  font-size: var(--small-text);
}

.home-callback__list > * {
  display: inline-block;
  width: 32%;
  margin-bottom: 7px;
}

.home-callback__list span {
  font-family: roboto-wt, sans-serif;
  font-weight: 700;
}

.home-callback__text-right {
  text-align: right;
}

.home-callback__text-right p {
  font-size: var(--small-text);
  line-height: 1.65;
}

.phone-big {
  display: block;
  font-size: 28px;
  line-height: 1;
  color: var(--text);
  font-weight: 300;
  font-family: roboto-wt, sans-serif;
  margin-bottom: 20px;
}

.phone-big:hover {
  color: var(--text);
}

.home-callback__phone,
.home-callback__phone:hover {
  color: #fff;
}

.home-callback__button {
  
}

/* Modal */

.modal {
  position: relative;
  z-index: 1;
}

.modal__container {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: var(--radius)
}

.modal__title {
  text-align: center;
  width: 100%;
  color: #454545;
  font-weight: 700;
  text-transform: uppercase;
}